---
name: Gather Pull Request Metadata

on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    branches: [ main, rhel-10.0.beta, rhel-10.* ]

permissions:
  contents: read

jobs:
  gather-metadata:
    runs-on: ubuntu-latest

    steps:
      - name: Repository checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - id: metadata
        name: Gather Pull Request Metadata
        uses: redhat-plumbers-in-action/gather-pull-request-metadata@v1

      - name: Upload Pull Request Metadata artifact
        uses: actions/upload-artifact@v5
        with:
          name: Pull Request Metadata
          path: ${{ steps.metadata.outputs.metadata-file }}
